{% if latest_post_list %}
    <ul>
    {% for post in latest_post_list %}
        <li>
            <a href="{% url 'website:detail' post.id %}">{{ post.text }}</a>
                <br>
            <img src="/website{{post.image.url}}">
            
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts.</p>
{% endif %}